$colorBg1: white;
$colorBg2: #fafafa;
$colorBg3: #dddddd;

$color1: rgba(38, 111, 139, 1);
$color2: rgba(143, 206, 214, 1);
 
@import "header";
@import "mixin-separator-clouds";

body {
    background: $colorBg1;
}

body .separator {
    @include separator-clouds();
}

body .separator2 {
    @include separator-clouds();
}

h1 {
    color: $color1;
    text-align: center;
}

h2 {
    color: $color1;
}

body .container {
    background-image: 
        linear-gradient(to bottom, $colorBg1,$colorBg2 15%, white 70%);
    margin-left: 0;
    margin-right: 0;
    max-width: none;
    
    >p {
        text-align: center;
    }
}

body #features .grid {
    display: grid; 
    width: 100%;
    grid-template-columns: 50vw 50vw;
    grid-auto-rows: 1fr;
    grid-auto-flow: dense;
    align-items: stretch;
    
    >img {
        height: 100%;
        padding: 15px;
    }

    >img:nth-of-type(even) {
        grid-column: 2;
        justify-self: start;
        padding-right: 20vw;
        background-image: linear-gradient(to right, $color2, transparent 35%);
    }

    >img:nth-of-type(odd) {
        grid-column: 1/2;
        justify-self: end;
        padding-left: 20vw;
        background-image: linear-gradient(to left, $color2, transparent 35%);
    }

    >div:nth-of-type(even) {
        h2 {
            text-align: right;
        }
        grid-column: 1/2;
        justify-self: end;
        margin: 20px;
    }

    >div:nth-of-type(odd) {
        h2 {
            text-align: left;
        }
        grid-column: 2;
        justify-self: start;
        margin: 15px;
    }
}
