body {
    background: #fafafa;
}

#header {
    background-image: 
    radial-gradient( circle at 10vw 70vh, #fafafa (random(100)/10 + 53) + vh, transparent 0% ),
    radial-gradient( circle at 30vw 70vh, #fafafa (random(100)/10 + 53) + vh, transparent 0% ),
    radial-gradient( circle at 50vw 70vh, #fafafa (random(100)/10 + 53) + vh, transparent 0% ),
    radial-gradient( circle at 70vw 70vh, #fafafa (random(100)/10 + 53) + vh, transparent 0% ),
    radial-gradient( circle at 90vw 70vh, #fafafa (random(100)/10 + 53) + vh, transparent 0% ),
    linear-gradient(80deg, rgba(38, 111, 139, 1) 0, rgba(0, 0, 0, 0) 5vw),
    linear-gradient(70deg, #fafafa 40vw, rgba(0, 0, 0, 0) 42vw), 
    linear-gradient(60deg, rgba(38, 111, 139, 1) 70vw, rgba(0, 0, 0, 0) 80vw),
    linear-gradient(60deg, rgba(143, 206, 214, 1) 100vw, rgba(143, 206, 214, 0)100vw),
    ;

    background-repeat: no-repeat;
    background-clip: content-box;
    text-align: center;
    height: 20vh;
    margin-bottom: 5vw;
    position: relative
}

#logo {
    max-width: 30vw;
    top: -5vh;
    position: absolute;
    left: 8vw;
    bottom: 0;
    margin: auto;
}

.center {
    text-align: center
}